* {
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

  body{
      background-color: #f5f2dc;
      font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
      margin: 0;
      font-weight: 300;
      line-height: 1.6;
      color: #292921;
      text-align: left;
  }
  


  .menu{
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    border-bottom: 0.1rem solid rgb(0, 0, 0) ;
    background-color: rgba(251, 231, 49, 0.719);
    backdrop-filter: blur(10px);
}

.menu-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
}

#psq{
position: absolute;
left: 43vw;
padding-right: 0px;
border-radius: 10px;
border: 0px;
transition: all 300ms ease-in-out;
}
#psq:hover{
    position: absolute;
    left: 36vw;
    padding-right: 200px;
    border-radius: 10px;
    }

.menu ul{
    list-style:none;
    display: flex;

}

.menu ul li a{
    display: block;
    padding: 1rem;
    text-decoration: none;
    color: #000000;
    position: relative
}

.menu ul li a::after{
    content: '';
    position: absolute;
    bottom: 1rem;
    left: 50%;
    width: 0;
    height: 0.4rem;
    background: rgb(244, 159, 0);
    transition: all 300ms ease-in-out;
    border-radius: 30px;
}
.menu ul li a:hover::after{
    width: 70%;
    left: 15%;
}


.menu h1{
   font-size:2.3rem
}
.menu h1 a{
    color: inherit;
    text-decoration: none;
 }

#nome{
padding-left: 4vw;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.conteudo{
margin-top: 16vh;
}

.banner{
    background-image: url(img/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;

}

.banner-title{
    transform: translateY(150px)
}
.banner-end{
    transform: translateY(280px)
}

.thumnail{
    width: 257px;
    height: 257px;
}

.hover-media:hover{
    background-color: #F5F8FA;
}

#mencoes{
    margin-top: 14vh;
}

#central{
margin-top: 14vh;

}

#mensagens_id{
    color: rgb(255, 149, 0);
}

/*--------------------------Grid template starts design for image gallery-----------------*/


.grid-template{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-auto-rows: minmax(250px,auto);
    grid-gap: 10px;
}

.item-1{
    grid-column: 1 / 3;
    grid-row: 1 / 2;

}
.item-7{
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    

}

.item-9{
    grid-row: 3 / 5;
    

}


.item-10{
    grid-row: 3 / 5;
    

}

.item-11{
  grid-column: 3/5;
  grid-row: 3 / 5;
    
}
.item-12{
    grid-row: 3 / 5;
    

}

/*----------------------------------(This code Important for Modal sizing on large device)-----------------------------------*/
.modal-dialog {
    position: relative;
    width: auto;
    max-width: 600px;
    margin: 0 auto;
  }

/*----------------------------------------------------------------------------------------------------------------------------*/
















