/* Navbar CSS */
  
.navbar {
    background-color: #0079d3;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    z-index: 1;
  }
  
  .navbar-logo a {
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
  }
  
  .navbar-logo a img {
    width: 40px;
    height: 40px;
  }
  
  .navbar-search input[type="text"] {
    padding: 10px;
    border-radius: 20px;
    border: none;
    width: 300px;
  }
  
  .navbar-search button {
    padding: 10px 20px;
    background-color: #ffffff;
    border-radius: 20px;
    border: none;
    color: #0079d3;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .navbar-search button:hover {
    background-color: #e8e8e8;
  }
  
  .navbar-buttons button {
    padding: 10px 20px;
    background-color: transparent;
    border-radius: 20px;
    border: 2px solid #ffffff;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .navbar-buttons button:hover {
    background-color: #ffffff;
    color: #0079d3;
  }